body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  padding: 20px;
}

input,
button {
  width: 200px;
  padding: 5px;
}

table,
th,
tr,
td {
  border-collapse: collapse;
  border: 2px solid white;
  text-align: left;
  padding-right: 40px;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.wrapper {
  background-color: grey;
  border: 2px solid white;
  width: 80%;
  padding: 20px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  margin: 0;
  padding: 0;
}

.wrapper2 {
  border: 2px solid white;
  margin-top: 30px;
  padding: 10px;
  padding-right: 40px;
  width: 290px;
  text-align: left;
}

.button {
  margin-top: 40px;
}
