body {
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  min-height: 100vh;
}
hr {
  border: 1px solid black;
}
a {
  text-decoration: none;
  color: black;
}
img {
  max-height: 380px;
}

.navbar {
  width: 100vw;
}
.container-fluid {
  padding: 0;
  margin: 0;
  width: 100%;
}
.filmes-titulo {
  font-size: 50px;
  font-weight: bold;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.wrapper-footer {
  width: 100vw;
  height: 70px;
  margin-top: 50px;
}

.wrapper-footer > h1 {
  padding: 10px;
}
.card,
.card-body,
.card img {
  border: none;
  border-radius: 0;
}
.card-title {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}
.card-text {
  text-align: justify;
}

.p-filmes {
  width: 70%;
  margin: auto;
  text-align: justify;
}

.filme-span {
  display: block;
  margin: auto;
  text-align: center;
}
